<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="webjars/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/style.css">
<link href='https://fonts.googleapis.com/css?family=Merienda'
	rel='stylesheet'>
<!--family font Merienda-->


<title th:text="'Ristorante San Pietro'"></title>
<link rel="icon" href="images/logo.png">
</head>


<body data-spy="scroll" data-target=".navbar" data-offset="50">
	<div id="Welcome">
		<!---START NAVIGATION BAR -->
		<nav
			class="navbar navbar-expand-lg navbar fixed-top  navbar-light bg-light">
			<a class="navbar-brand" href="#Welcome"> <img
				src="images/logo.png" width="50" height="50" class="d-inline-block"
				alt=""> Ristorante San Pietro
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarText" aria-controls="navbarText"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="#Welcome">Benvenuti</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#Restaurant">Ristorante</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#Menu">Menu</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#Gallery">Gallery</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#Avvisi">Avvisi</a>
					</li>
					<li class="nav-item"><a class="nav-link"
						href="#GiorniDiApertura">Giorni di apertura</a></li>
					<li class="nav-item"><a class="nav-link" href="#DoveSiamo">Dove
							siamo</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/homepage/login}">Login</a></li>
					
				</ul>
			</div>
		</nav>
		<!--- END NAVIGATION BAR -->




		<!--- START CAROUSEL -->
		<div id="carouselExampleIndicators" class="carousel slide"
			data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0"
					class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="d-block w-100 img-fluid img-slider"
						src="images/IMG-20210801-WA0000.jpg" alt="First slide">
					<div class="carousel-caption">
						<!-- <h2>Welcome!</h2> -->
						<p>...</p>
					</div>
				</div>
				<div class="carousel-item">
					<img class="d-block w-100 img-fluid img-slider"
						src="images/IMG-20190917-WA0017.jpg" alt="Second slide">
					<div class="carousel-caption">
						<!-- <h2>Traditional Italian Cuisine</h2> -->
						<p>...</p>
					</div>
				</div>
				<div class="carousel-item">
					<img class="d-block w-100 img-fluid img-slider"
						src="images/IMG-20190917-WA0016.jpg" alt="Third slide">
					<div class="carousel-caption">
						<!-- <h2>Selected Products</h2> -->
						<p>...</p>
					</div>
				</div>
				<div class="carousel-item">
					<img class="d-block w-100 img-fluid img-slider"
						src="images/IMG-20190811-WA0001.jpg" alt="Third slide">
					<div class="carousel-caption">
						<!-- <h2>Selected Products</h2> -->
						<p>...</p>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators"
				role="button" data-slide="prev"> <span
				class="carousel-control-prev-icon" aria-hidden="true"></span> <span
				class="sr-only">Previous</span>
			</a> <a class="carousel-control-next" href="#carouselExampleIndicators"
				role="button" data-slide="next"> <span
				class="carousel-control-next-icon" aria-hidden="true"></span> <span
				class="sr-only">Next</span>
			</a>
		</div>
		<!--- END CAROUSEL -->
	</div>






	<!--- START PRESENTATION PAGE-->
	<div class="container">
		<div class="row" id="Restaurant">
			<div class="col navMenu">
				<h2 class="text-center">~ Restaurant ~</h2>
			</div>
		</div>
		<div class="row bg-light">
			<div class="col-md-6">
				<h3>Location</h3>
				<p>Thanks for stopping by. We are the last authentic Italian
					restaurant in Milan, serving delicious Italian cuisine cooked by
					the best chefs. It only takes a few minutes to browse through our
					website and check out our menu. We hope you'll soon join us for a
					superb Italian culinary experience.</p>
				<h5>A Unique Experience</h5>
				<p>Thanks for stopping by. We are the last authentic Italian
					restaurant in Milan, serving delicious Italian cuisine cooked by
					the best chefs. It only takes a few minutes to browse through our
					website and check out our menu. We hope you'll soon join us for a
					superb Italian culinary experience.</p>
			</div>
			<div class="col-md-6" data-aos="fade-up">
				<img class="img-fluid" src="images/IMG-20200725-WA0003.jpeg">
			</div>
		</div>
		<div class="row bg-light">
			<br>
		</div>
		<div class="row bg-light">
			<div class="col-md-6 order-md-1 order-2" data-aos="fade-up">
				<img class="img-fluid " src="images/IMG-20190917-WA0001.jpg">
			</div>
			<div class="col-md-6 order-md-12 order-1">
				<h3>Cuisine</h3>
				<p>Thanks for stopping by. We are the last authentic Italian
					restaurant in Milan, serving delicious Italian cuisine cooked by
					the best chefs. It only takes a few minutes to browse through our
					website and check out our menu. We hope you'll soon join us for a
					superb Italian culinary experience.</p>
				<h5>A Unique Experience</h5>
				<p>Thanks for stopping by. We are the last authentic Italian
					restaurant in Milan, serving delicious Italian cuisine cooked by
					the best chefs. It only takes a few minutes to browse through our
					website and check out our menu. We hope you'll soon join us for a
					superb Italian culinary experience.</p>
			</div>
		</div>
		<!--- End of Restaurant -->
		<!--- END PRESENTATION PAGE-->




		<!--- START GALLERY -->
		<div class="row" id="Gallery">
			<div class="col navMenu">
				<h2 class="text-center">~ Gallery ~</h2>
			</div>
		</div>
		<!-- Gallery -->
		<div class="row">
			<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
				<img src="images/IMG_20210618_185901.jpg"
					class="w-100 shadow-1-strong rounded mb-4" alt="" /> <img
					src="images/IMG_20210711_123304.jpg"
					class="w-100 shadow-1-strong rounded mb-4" alt="" />
			</div>
			<div class="col-lg-4 mb-4 mb-lg-0">
				<img src="images/IMG_20210711_122008.jpg"
					class="w-100 shadow-1-strong rounded mb-4" alt="" /> <img
					src="images/IMG_20210710_215521.jpg"
					class="w-100 shadow-1-strong rounded mb-4" alt="" />
			</div>
			<div class="col-lg-4 mb-4 mb-lg-0">
				<img src="images/IMG_20210710_195107.jpg"
					class="w-100 shadow-1-strong rounded mb-4" alt="" /> <img
					src="images/IMG_20210710_193107.jpg"
					class="w-100 shadow-1-strong rounded mb-4" alt="" />
			</div>
		</div>
		<!-- Gallery -->
		<!-- END GALLERY-->


		<!-- START MENU-->
		<div th:switch="${menus}" class="container my-5">
			<h2 th:case="null">Nessun menu per ora</h2>
			<div th:case="*">
				
				<div th:each="menu : ${menus}" class="card" style="width: 18rem;">
					<div class="card-header">
						<a th:text="${menu.titolo}"></a>
					</div>
					<ul class="list-group list-group-flush">
					  <li th:each="primo : ${menu.primi}"class="list-group-item">
						  <a th:text="${primo}"></a>
					  </li>
					</ul>
				  </div>

			</div>
		</div> 
		<!-- END MENU-->







		<!--- START GIORNI DI APERTURA-->
		<div class="row" id="GiorniDiApertura">
			<div class="col navMenu">
				<h2 class="text-center">~ I nostri orari ~</h2>
			</div>
		</div>
		<div class="row">
			<div class=" col-lg-12 reserve-container" data-aos="fade-up">
				<img class="img-fluid image-reserve"
					src="images/IMG-20190815-WA0013.jpg">
				<div class="reserve-text col-lg-12 ">
					<div class="row">
						<div class="col-12">
							<h4 class="text-center">
								Lunedì e Mercoledì
								</h2>
								<h6 class="text-center">
									10:00 - 15:00
									</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<h4 class="text-center">
								Giovedi , Venerdì , Sabato e Domenica
								</h2>
								<h6 class="text-center">
									10:00 - 23:30
									</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<h4 class="text-center">
								Martedì giorno di chiusura
								</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--- END GIORNI DI APERTURA-->







		<!--- START DOVE SIAMO -->

		<div class="row" id="DoveSiamo">
			<div class="col navMenu">
				<h2 class="text-center">~ Dove siamo ~</h2>
			</div>
		</div>

		<!--  MAPPA GOOGLE-->
		<div class="row">
			<div id="map" class="col-md-9 map"></div>
			<div class="col-md-3">
				<h3>Indirizzo :</h3>
				<p>Strada Alzaia Naviglio Grande, 18, 20020 Robecchetto con
					Induno MI</p>
				<h3>Email:</h3>
				<p>mail@example.com</p>
			</div>
		</div>
		<!-- END MAPPA GOOGLE-->


	</div>
	<!--- END CONTAINER PAGE-->


	<!--- FOOTER WITH SOCIAL MEDIA LINK -->
		<div class="row footer bg-light">
			<div class="col">
				<p class="text-center">
					Seguici su : <a class="social-icon"
						href="https://www.facebook.com/ristorantesanpietrorobecchetto"><i
						class="fab fa-facebook"></i></a> <a class="social-icon"
						href="https://www.instagram.com/_ristorante_san_pietro/"><i
						class="fab fa-instagram"></i></a> <a class="social-icon"
						href="https://www.tripadvisor.it/Restaurant_Review-g1077965-d4023390-Reviews-Ristorante_San_Pietro-Robecchetto_con_Induno_Province_of_Milan_Lombardy.html"><i
						class="fab fa-tripadvisor"></i></a>
				</p>
			</div>
		</div>
	<!--- END SOCIAL MEDIA LINK -->


	<!--- FOOTER ONLY MOBILE -->
	<footer class="container">
		<div class="row only-mobile">
			<div class="col-6">
				<a class="btn btn-primary btn-block text-center"
					href="tel:0331 875402"><i class="fa fa-phone"
					aria-hidden="true"></i> Call</a>
			</div>
			<!--<div class="col-6">
					<a class="btn btn-success btn-block text-center" href="https://api.whatsapp.com/send?phone=+390000000"><i class="fab fa-whatsapp" aria-hidden="true"></i> Whatsapp</a>
				</div> -->
		</div>
	</footer>


	<script src="js/jquery-3.3.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	
	<script defer
		src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
		
		
	<script type="text/javascript" src="js/map.js"></script>
	<script type="text/javascript" src="js/smooth-scroll.js"></script>
	<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
	<script type="text/javascript" src="js/image-effect.js"></script>
	<!--google apis-->
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCx7vslutL_K_m84bbyDYnmJrfV3IGc5s&callback=initMap"
		async></script>
	<script>
			baguetteBox.run('.tz-gallery');
		</script>
</body>
</html>





